<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>404 ERROR</title>
  </head>
  <body>
    <body tabindex="-1">
        <div class="navbar bg-base-100">
          <div class="flex-1">
            <a class="btn btn-ghost normal-case text-xl" href="/"
              >Lego Collection</a
            >
          </div>
        </div>
    
        <ul class="menu menu-horizontal px-1">
          <li><a href="/about">About</a></li>
          <li>
            <details>
              <summary>Theme</summary>
              <ul class="p-2 bg-base-100 right-0">
                <li><a href="/lego/sets?theme=technic">Technic</a></li>
                <li>
                  <a href="/lego/sets?theme=classic town">Classic Town</a>
                </li>
                <li>
                  <a href="/lego/sets?theme=supplemental">Supplemental</a>
                </li>
              </ul>
            </details>
          </li>
        </ul>
    <h1 class="text-center">404</h1>

    <h3 class="h2">Look like you're lost</h3>

    <p>the page you are looking for not avaible!</p>

    <a href="/home" class="link_404">Go to Home</a>
  </body>
</html>
